<h1>Todo list...</h1>

<!-- table of ToDos -->
<div class="table-responsive">
  <table class="table table-striped table-condensed">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3">Actions...</th>
    </tr>
    <% @todos.each do |todo| %>
      <tr>
        <!-- fields -->
        <td><%= todo.name %></td>
        <td><%= todo.description %></td>
        <!-- actions -->
        <td>
          <%=
            link_to "Show",
            todo_path(todo),
            # class:"text-info"
            class:"btn btn-xs btn-info"
          %>
        </td>
        <td>
          <%=
            link_to "Edit",
            edit_todo_path(todo),
            # class:"text-success"
            class:"btn btn-xs btn-success"
          %>
        </td>
        <td>
          <%=
            link_to "X",
            todo_path(todo),
            method: :delete, data: {confirm: "Delete Todo ?"},
            # class:"text-danger"
            class:"btn btn-xs btn-danger"
          %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<!-- new todo action -->
<p>
  <%= link_to "New", new_todo_path, class: "btn btn-primary" %>
</p>
