<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <!-- body with available ApplicationController tracing -->
  <%= content_tag :body, data: { controller: controller_name, action: action_name } do %>

    <main class="container">
      <div id="view">
        <%= render "layouts/messages" %>
        <%= yield %>
      </div>
    </main>

    <% end %>
    <!-- end body -->

</html>
